.container-fluid{
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.726); */
    background-image: url('./images/india-flag-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.divtag{
    width:fit-content;
    height:fit-content;
    /* background-color: blueviolet; */
}

h1{
    font-size: 2rem;
    font-weight: 800;
    font-style: oblique;
    color: white;
}
.text-color-green{
    /* color: #d27202; */
    color: #017e10;
}
.text-color-orange{
    color: #d27202;
}













































































